{
	"printWidth": 120,
	"singleQuote": false,
  "quoteProps": "consistent",
	"semi": true,
	"useTabs": false,
  "proseWrap": "always",
  "trailingComma": "none",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
