@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-mono);
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
