@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  b,
  strong {
    @apply font-bold;
  }
  a {
    @apply transition-colors duration-300;
  }
}

@layer components {
  .background-overlay-image {
    @apply bg-center bg-cover transform scale-110 transition-[background-image];
  }
  .btn {
    @apply inline-block py-2 px-6;
  }
  .carousel-item {
    @apply bg-center transition-opacity duration-[3000ms] ease-in-out absolute w-full h-full;
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
